{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form  method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.ffile }}
    {% for error in form.ffile.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>
{% endif %}
<br>
<br>
<table>
<tr>
  <th>Id</th>
  <th>Uploaded</th>
  <th>Record count</th>
  <th>Download count</th>
  <th>Google path</th>
  <th>File name</th>
  <th>Actions</th>
</tr>
{% for entry in uploads %}
<tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.uploaded }}</td>
      <td>{{ entry.record_cnt }}</td>
      <td><a href="{{ url_for('get_history', key = entry.file_name) }}">{{ entry.download_cnt }}</a></td>
      <td>{{ entry.goopath }}</td>
      <td>{{ entry.file_name }}</td>
      <td><a href="/file_downloads/{{ entry.file_name }}" download>>Download</a><br>
           <a href="{{ url_for('get_history', key = entry.key) }}">Disable</a>
      </td>
</tr>
{% else %}
</table>
{% endfor %}
<!-- </ul> -->
{% endblock %}
