{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li><a>{{ entry.key }}</a>
    <pre>{{ entry.text }}</pre>
    {% if session.logged_in %}
          <form action="{{ url_for('edit_entry', key = entry.key) }}"" method=post class=add-entry>
            <dl>
              <dt>Key:
              <dd><input type=text disabled size=30 name=key value="{{ entry.key }}">
              <dt>Response:
              <dd><textarea name=text rows=5 cols=40 value="{{ entry.text }}"></textarea>
              <dd><input type=submit value=Post>
            </dl>
          </form>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
