<!doctype html>
<meta http-equiv="refresh" content="30">
<title >Lerg uploads</title>
<style>
.nav {
    margin-right:20px;
}
    .flash          { background: #cee5F5; padding: 0.5em;
                  border: 2px solid #aacbe2;
    margin:10px}
    </style>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}" media="screen">
<div class=page>
    <h1 align="center">Lerg uploads</h1>
    <div class=nav align="right">
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}"><button class='btn btn-default'>log
                in</button></a>
    {% else %}
        <a href="{{ url_for('logout') }}"><button class='btn btn-danger'>log
                out</button></a>
    {% endif %}
    </div>


       {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
     {% block body %}{% endblock %}
</div>
