{% extends "layout.html" %}
{% block body %}
<div class=nav align="right">
<h2>Login</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method=post>
<dl>
<dt>Username:
<dd><input type=text name=username>
<dt>Password:
<dd><input type=password name=password><br><br>
<dd><input type=submit value=Login class='btn btn-default'>
</dl>
</div>
</form>
{% endblock %}
