{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<table class="table table-bordered table-hover">
<tr>
  <th>Dowload on</th>
  <th>Start time</th>
  <th>End time</th>
  <th>ip</th>
  <th>Status</th>
  <th>Error</th>
  <th>File name</th>

</tr>
{% for entry in entries %}
<tr >
    <td>{{ entry.Download_on }}</td>
    <td>{{ entry.Start_time }}</td>
     <td>{{ entry.End_time }}</td>
    <td>{{ entry.ip }}</td>
    <td>{{ entry.Status }}</td>
    <td>{{ entry.Error }}</td>
     <td>{{ entry.File_name }}</td>
</tr>
{% endfor %}
{% endif %}
<form method=get action="{{ url_for('show_entries') }}" class=add-entry>
    <button class='btn btn-default'>  <input type=submit value=Back></button>
{% endblock %}
