{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form  method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <button class='btn btn-default'>{{ form.ffile }}</button>
    {% for error in form.ffile.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <button class='btn btn-default'>{{ form.submit }}</button>
</form>
{% endif %}
<br>
<br>
<table class="table table-bordered table-hover">
<tr>
  <th>Id</th>
  <th>Uploaded</th>
  <th>Record count</th>
  <th>Download count</th>
  <th>Google path</th>
  <th>File name</th>
  <th>Actions</th>
</tr>
{% for entry in uploads %}
<tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.uploaded }}</td>
      <td>{{ entry.record_cnt }}</td>
      <td><a href="{{ url_for('get_history', key = entry.file_name) }}">{{ entry.download_cnt }}</a></td>
      <td><a href="{{ entry.goopath }}" target=blank>{{ entry.goopath }}</a></td>
      <td>{{ entry.file_name }}</td>
      <td>
        <a href="{{ url_for('file_downloads', filename=entry.file_name)}}"><button class='btn btn-default'>Download!</button></a>
        <br>
    <a href="/disable/{{entry.file_name}}" disable><button type="button" class="btn btn-danger">Disable...&nbsp&nbsp</button></a>
      </td>
</tr>
{% else %}
</table>
{% endfor %}
<!-- </ul> -->
{% endblock %}
