{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('upload_file') }}" method=post class=add-entry enctype="multipart/form-data">
<h1>Lerg Upload</h1>
    {{ form.hidden_tag() }}
    {{ form.ffile }}
    {% for error in form.ffile.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

{% if file_url %}
<br>
File uploaded successfully
{% endif %}


